<div class="favorites account-content__type" data-id="4">
	<p class="favorites__title">My favorites</p>
	<div class="favorites-items">
		<div class="favorites-item">
			<div class="favorites-item__top">
				<img class="favorites-item__top-img" src="img/goods/thumb/1.jpg" alt="1">
				<div>
					<p class="favorites-item__title">Casual flat loafers</p>
					<p class="favorites-item__size">Size - EU: 36 US: 5.5</p>
					<p class="favorites-item__price">₦ 10,000</p>
				</div>
			</div>

			<div class="favorites-item__buttons">
				<button class="favorites-item__btn favorites-item__btn--buy btn">BUY NOW</button>
				<button class="favorites-item__btn favorites-item__btn--remove">REMOVE</button>
			</div>


		</div>
		<div class="favorites-item">
			<div class="favorites-item__top">
				<img class="favorites-item__top-img" src="img/goods/thumb/2.jpg" alt="2">
				<div>
					<p class="favorites-item__title">Multicolored armless top</p>
					<p class="favorites-item__size">Size - XS</p>
					<p class="favorites-item__price">₦ 10,000</p>
				</div>
			</div>

			<div class="favorites-item__buttons">
				<button class="favorites-item__btn favorites-item__btn--buy btn">BUY NOW</button>
				<button class="favorites-item__btn favorites-item__btn--remove">REMOVE</button>
			</div>


		</div>
	</div>
</div>