<div class="address account-content__type" data-id="2">
	<p class="address__title">Address Book</p>
	<div class="address__wrap">
		<div class="address__content">
			<p class="address__content-text">Default Shipping Address</p>
			<ul class="address__content-list">
				<li class="address__content-item">Ayokunle Oriolowo</li>
				<li class="address__content-item">No 4 Barnawa Close, Barnawa, Kaduna</li>
				<li class="address__content-item">Kaduna, Kaduna</li>
				<li class="address__content-item">Nigeria</li>
				<li class="address__content-item">+234 708 568 5878</li>
			</ul>

			<div class="address__content-bottom">
				<button class="address__content-btn" data-btn="1">Edit</button>
				<button class="address__content-btn" data-btn="2">Delete</button>
			</div>
		</div>
		<button class="address__btn btn">ADD NEW ADDRESS</button>
	</div>
</div>