<div class="orders account-content__type" data-id="3">
	<p class="orders__title">My Orders</p>
	<div class="orders-delivered">
		<div class="orders-items">
			<div class="orders-item">

				<div class="orders-item__wrap">
					<div class="orders-item__goods">
						<div class="orders-item__goods-photo">
							<img class="orders-item__goods-img" src="img/goods/thumb/1.jpg" alt="shoes">
							<span class="orders-item__goods-type orders-item__goods-type--delivered">Delivered</span>
						</div>
						<div>
							<p class="orders-item__goods-title">Casual flat loafers</p>
							<p class="orders-item__goods-size">Size - EU: 36 US: 5.5</p>
							<p class="orders-item__goods-price">₦ 10,000</p>
							<p class="orders-item__goods-quantity">Qty: 1</p>
							<p class="orders-item__goods-deliver">On 20/07/2020</p>
						</div>
					</div>
					<div class="orders-item__payment">
						<p class="orders-item__payment-title">Payment details</p>
						<p class="orders-item__payment-text">Item’s total - ₦ 10,000</p>
						<p class="orders-item__payment-text">Delivery fee - ₦ 2,000</p>
						<p class="orders-item__payment-text">TOTAL - ₦ 12,000</p>
					</div>
					<div class="orders-item__method">
						<div class="orders-item__method-wrap">
							<p class="orders-item__method-title">Delivery method</p>
							<p class="orders-item__method-text">Door delivery</p>
						</div>
						<div class="orders-item__method-wrap">
							<p class="orders-item__method-title">Shipping address</p>
							<p class="orders-item__method-text">Ayokunle Oriolowo
								4, Barnawa Close, Barnawa Kaduna.</p>
						</div>
					</div>
				</div>

				<div class="orders-item__buttons">
					<button class="orders-item__btn btn">ORDER AGAIN</button>
					<button class="orders-item__btn orders-item__btn--request btn">REQUEST A RETURN</button>
				</div>
			</div>
		</div>
	</div>

	<div class="orders-arrive">
		<div class="orders-items">
			<div class="orders-item">
				<div class="orders-item__wrap">
					<div class="orders-item__goods">
						<div class="orders-item__goods-photo">
							<img class="orders-item__goods-img" src="img/goods/thumb/2.jpg" alt="shoes">
							<span class="orders-item__goods-type orders-item__goods-type--arrive">To arrive</span>
						</div>
						<div>
							<p class="orders-item__goods-title">Multicolored armless top</p>
							<p class="orders-item__goods-size">Size - XS</p>
							<p class="orders-item__goods-price">₦ 10,000</p>
							<p class="orders-item__goods-quantity">Qty: 1</p>
							<p class="orders-item__goods-deliver">Between 20/07/2020 - 25/07/2020</p>
						</div>
					</div>
					<div class="orders-item__payment">
						<p class="orders-item__payment-title">Payment details</p>
						<p class="orders-item__payment-text">Item’s total - ₦ 10,000</p>
						<p class="orders-item__payment-text">Delivery fee - ₦ 2,000</p>
						<p class="orders-item__payment-text">TOTAL - ₦ 12,000</p>
					</div>
					<div class="orders-item__method">
						<div class="orders-item__method-wrap">
							<p class="orders-item__method-title">Delivery method</p>
							<p class="orders-item__method-text">Door delivery</p>
						</div>
						<div class="orders-item__method-wrap">
							<p class="orders-item__method-title">Shipping address</p>
							<p class="orders-item__method-text">Ayokunle Oriolowo
								4, Barnawa Close, Barnawa Kaduna.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>